<!--
    Express PortFolio Assignment 1
    Author: Mark Deriel P. Bernardino
    Student ID: 301271907
    Date: October 5, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <hr>
    <img src="img/MyImage.jpg" alt="MyImage">
    </div>
    <div class="AboutMeDescription">
        <p>I am Mark Deriel P Bernardino, aspiring software developer</p>
        <h3>My Resume</h3>
        <p>File: <a href="https://centennialcollegeedu-my.sharepoint.com/:b:/g/personal/mberna32_my_centennialcollege_ca/ETAKoXo3kzpFle20WOJo-h0BR3TMUqPrRA3p-167ZzlI6g?e=yfghQC">click here</a></p>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   