<!--
    Express PortFolio Assignment 1
    Author: Mark Deriel P. Bernardino
    Student ID: 301271907
    Date: October 5, 2023
-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">
    <h1>Welcome to <%= title %> Page</h1>
    <hr>
    <h4>Mark Deriel P. Bernardino | Aspiring Software Engineer</h4>
    <p>Passionate Software Engineering Student with a drive for innovation and a knack for problem-solving.
        I have a strong foundation in software development, game development, and website development. 
        My portfolio showcases a collection of projects that demonstrate my skills in graphic design skill,
        problem-solving, and complex algorithm. I am dedicated to creating robust, user-friendly applications that address real-world challenges. 
        Let's collaborate and build the future together.
    </p>

</div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>


