<!--
    Express PortFolio Assignment 1
    Author: Mark Deriel P. Bernardino
    Student ID: 301271907
    Date: October 5, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">
    <h1>Welcome to <%= title %> Page</h1>
    <hr>
    </div>
    <div class="firstproject">
        <h2>First Project</h2>
        <img src="img/Project1.png" alt="firstproject" height="50%" width="100%">
        <h3>A c# project for a coffee shop cashier application</h3>
    </div>
    <hr>
    <div class="secondproject">
        <h2>Second Project</h2>
        <img src="img/Project2.png" alt="secondproject" height="50%" width="100%">
        <h3>Creating an elemental battle ground in roblox studio, still in progress. doing in by myself</h3>
    </div>
    <hr>
    <div class="thirdproject">
        <h2>Third Project</h2>
        <img src="img/Project3.png" alt="thirdproject" height="50%" width="100%">
        <h3>Creating my own website for a house selling website</h3>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   