<!--
    Express PortFolio Assignment 1
    Author: Mark Deriel P. Bernardino
    Student ID: 301271907
    Date: October 5, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">
    <h1>Welcome to <%= title %> Page</h1>
    <hr>
    </div>
    <div class="Web Development">
        <h2>Web Development Services:</h2>
        <h3>Transforming Ideas into Seamless Online Experiences</h3>
        <h3>As a web developer, I specialize in crafting interactive and visually appealing websites 
            that cater to your specific needs. Whether you're seeking a sleek portfolio, 
            a dynamic e-commerce platform, or a robust web application, I leverage cutting-edge 
            technologies and best practices to deliver solutions that leave a lasting impression. 
            From responsive design to intuitive user interfaces, 
            I prioritize creating web experiences that captivate your audience and drive results.</h3>
    </div>
    <div class="Application Development ">
        <h2>Application Development Services:</h2>
        <h3>Empowering Your Vision through Custom Applications</h3>
        <h3>My expertise in application development spans across various platforms, 
            including desktop, mobile, and cross-platform solutions. I bring your concepts to life, 
            meticulously designing and developing applications that seamlessly integrate with your 
            business processes or personal pursuits. With a keen eye for detail and a commitment to 
            performance, I ensure that your application 
            not only meets but exceeds your expectations, providing a reliable and engaging user experience.</h3>
    </div>
    <div class="game dev">
        <h2>Game Development Services:</h2>
        <h3>Bringing Virtual Worlds to Life with Expertise in Scripting and Animation</h3>
        <h3>As a game developer, I specialize in creating immersive gaming experiences that captivate players and leave them eager for more. My proficiency in scripting and animation allows me to breathe life into virtual worlds, creating dynamic characters, environments, and interactions. Whether you're envisioning a mobile app, PC game, or console experience, I have the technical know-how and creativity to turn your ideas into captivating realities.

        </h3>
    </div>

</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   